name: build-and-deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup golang
      uses: actions/setup-go@v3
      with:
        # Change your go version as needed
        go-version: 1.21

    - name: Build the binary
      run: go build -o build/

    - name: Upload artifact for deployment jobs
      uses: actions/upload-artifact@v2
      with:
        name: no-phi-ai
        path: build/no-phi-ai
          
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }} 
      
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: no-phi-ai
          path: .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: 'no-phi-ai'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}

